.heading {
    font-weight: 600;
    text-align: center;
    margin-bottom: 48px;

    font-size: 30px;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 150px;

    margin-top: 30px;

}
.times {
    font-weight: 600;
    font-size: 24px;
}
.location{
    font-weight: 600;
    font-size: 20px;
}